USE [master]
GO
/****** Object:  Database [PracticasLBD]    Script Date: 04/04/2018 10:09:36 p. m. ******/
CREATE DATABASE [PracticasLBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticasLBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.YENAI\MSSQL\DATA\PracticasLBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticasLBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.YENAI\MSSQL\DATA\PracticasLBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticasLBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticasLBD]
GO
USE [PracticasLBD]
GO
/****** Object:  Table [dbo].[Camion]    Script Date: 04/04/2018 10:09:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camion](
	[ID] [uniqueidentifier] NOT NULL,
	[NoCamion] [int] NOT NULL,
	[idEmpleado] [uniqueidentifier] NOT NULL,
	[Modelo] [ntext] NOT NULL,
	[idRutas] [uniqueidentifier] NOT NULL,
	[Matricula] [int] NOT NULL,
	[Asientos] [int] NOT NULL,
	[AsientosOcupados] [int] NOT NULL,
	[AsientosDisponibles]  AS ([Asientos]-[AsientosOcupados]),
 CONSTRAINT [NumeroCamion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwAsientos]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwAsientos] AS SELECT Asientos, AsientosDisponibles, AsientosOcupados FROM Camion;
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID] [uniqueidentifier] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[Puesto] [nvarchar](50) NOT NULL,
	[HorasSemanales] [int] NOT NULL,
	[SueldoHora] [money] NOT NULL,
	[SueldoTotal]  AS ([HorasSemanales]*[SueldoHora]),
	[idPersona] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwEmpleados]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwEmpleados] AS SELECT idPersona, Puesto, SueldoTotal FROM Empleado;
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[ID] [uniqueidentifier] NOT NULL,
	[CiudadOrigen] [ntext] NOT NULL,
	[CiudadDestino] [ntext] NOT NULL,
	[FechaSalida] [datetime] NOT NULL,
	[FechaLlegada] [datetime] NULL,
 CONSTRAINT [PK_Rutas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwRutas]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwRutas] AS SELECT CiudadOrigen, CiudadDestino FROM Rutas;
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[ID] [uniqueidentifier] NOT NULL,
	[PrecioBoleto] [money] NOT NULL,
	[idCliente] [uniqueidentifier] NOT NULL,
	[BoletosVendidos] [int] NOT NULL,
	[Ingresos]  AS ([PrecioBoleto]*[BoletosVendidos]),
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwVentas]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwVentas] AS SELECT Ingresos FROM Venta;
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ApellidoP] [nvarchar](50) NOT NULL,
	[ApellidoS] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Direccion] [geography] NULL,
 CONSTRAINT [Nombre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwPersonas]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwPersonas] AS SELECT Nombre, ID FROM Persona;
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [uniqueidentifier] NOT NULL,
	[idPersona] [uniqueidentifier] NOT NULL,
	[idCredencial] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credencial]    Script Date: 04/04/2018 10:09:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credencial](
	[idPersona] [uniqueidentifier] NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[Foto] [image] NOT NULL,
	[Tipo] [ntext] NOT NULL,
 CONSTRAINT [PK_Credencial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Camion] ([ID], [NoCamion], [idEmpleado], [Modelo], [idRutas], [Matricula], [Asientos], [AsientosOcupados]) VALUES (N'6052cbb7-d3c3-46a5-b9f3-05c2e1f36d71', 698, N'b6cf69a9-ad15-4a37-aebd-f9461310ecfc', N'Turístico', N'9b7b99ed-1cad-454b-8bfd-7c90380b05aa', 681023, 65, 23)
INSERT [dbo].[Camion] ([ID], [NoCamion], [idEmpleado], [Modelo], [idRutas], [Matricula], [Asientos], [AsientosOcupados]) VALUES (N'c6067b98-b2dc-45f7-95e4-1ecfb1475f5b', 156, N'951c8284-21ba-40fd-84f6-082b0a7ae4f2', N'Turístico', N'b3ff3a43-1bc3-49c0-8e58-3fbed33079df', 533411, 65, 18)
INSERT [dbo].[Camion] ([ID], [NoCamion], [idEmpleado], [Modelo], [idRutas], [Matricula], [Asientos], [AsientosOcupados]) VALUES (N'ac34ed4d-774a-41d8-99e8-38abbf3ce28d', 169, N'dec4a6bf-bc63-4e6d-90e5-e6e03e321e6e', N'Familiar', N'7d211d24-ef78-4112-8aab-e3fd583be53c', 8563, 15, 2)
INSERT [dbo].[Cliente] ([ID], [idPersona], [idCredencial]) VALUES (N'3cc11be9-d296-4bf8-9718-47839d697954', N'1c760246-47bb-4798-a86b-a3162e3ebbbf', N'fea1cb7f-7a25-4d44-bcc4-1957e917051d')
INSERT [dbo].[Cliente] ([ID], [idPersona], [idCredencial]) VALUES (N'8c7f090f-6b86-4259-aa7a-53e21ea75f1e', N'11bf99ff-dd86-4d85-8903-01f23354bd30', N'd621abce-5df1-44d1-8802-37b72fe65ec3')
INSERT [dbo].[Cliente] ([ID], [idPersona], [idCredencial]) VALUES (N'81c371c0-114a-412d-b057-6021a81b46c5', N'feb5b820-924f-461c-af91-5957788ac5f7', N'6a9f77ce-77e7-4027-a723-0116030ee1a9')
INSERT [dbo].[Credencial] ([idPersona], [ID], [Foto], [Tipo]) VALUES (N'feb5b820-924f-461c-af91-5957788ac5f7', N'6a9f77ce-77e7-4027-a723-0116030ee1a9', 0x696D67312E6A7067, N'Adulto')
INSERT [dbo].[Credencial] ([idPersona], [ID], [Foto], [Tipo]) VALUES (N'1c760246-47bb-4798-a86b-a3162e3ebbbf', N'fea1cb7f-7a25-4d44-bcc4-1957e917051d', 0x666F746F2E6A7067, N'Adulto')
INSERT [dbo].[Credencial] ([idPersona], [ID], [Foto], [Tipo]) VALUES (N'f809f71a-a644-413b-93c3-582a1ded58b2', N'e07f6b23-4cf8-4c91-bb20-1ab3d0b84fb7', 0x666F746F2E6A7067, N'Estudiante')
INSERT [dbo].[Empleado] ([ID], [FechaIngreso], [Puesto], [HorasSemanales], [SueldoHora], [idPersona]) VALUES (N'951c8284-21ba-40fd-84f6-082b0a7ae4f2', CAST(N'2017-11-08' AS Date), N'Aseo', 40, 35.0000, N'2a603610-7901-4739-8fef-2df6141f1307')
INSERT [dbo].[Empleado] ([ID], [FechaIngreso], [Puesto], [HorasSemanales], [SueldoHora], [idPersona]) VALUES (N'a8e4de19-9251-4e0e-8319-3e0d163523ca', CAST(N'2017-12-05' AS Date), N'Chofer', 48, 30.0000, N'85fcfe38-19ee-4589-ae91-da2d3dbbf60b')
INSERT [dbo].[Empleado] ([ID], [FechaIngreso], [Puesto], [HorasSemanales], [SueldoHora], [idPersona]) VALUES (N'ca7a0095-f82b-4dfa-8340-4c54dc2af99e', CAST(N'2017-11-10' AS Date), N'Chofer', 40, 40.0000, N'950612a3-e1a4-4f7d-8d03-44cbab53e2ba')
INSERT [dbo].[Persona] ([ID], [Nombre], [ApellidoP], [ApellidoS], [FechaNacimiento], [Direccion]) VALUES (N'11bf99ff-dd86-4d85-8903-01f23354bd30', N'Angel', N'de Leon', N'Salazar', CAST(N'1990-12-23' AS Date), NULL)
INSERT [dbo].[Persona] ([ID], [Nombre], [ApellidoP], [ApellidoS], [FechaNacimiento], [Direccion]) VALUES (N'4e84ad25-3b75-4305-8c5e-0b7bf0ff96a0', N'Diego', N'Martinez', N'Lopez', CAST(N'1991-08-26' AS Date), NULL)
INSERT [dbo].[Persona] ([ID], [Nombre], [ApellidoP], [ApellidoS], [FechaNacimiento], [Direccion]) VALUES (N'52e78651-1326-4cf6-977d-2424da778936', N'Margarita', N'Garza', N'Casas', CAST(N'1984-12-28' AS Date), NULL)
INSERT [dbo].[Rutas] ([ID], [CiudadOrigen], [CiudadDestino], [FechaSalida], [FechaLlegada]) VALUES (N'b3ff3a43-1bc3-49c0-8e58-3fbed33079df', N'Monterrey', N'Queretaro', CAST(N'2018-10-24T00:21:00.000' AS DateTime), CAST(N'2018-08-15T00:00:20.000' AS DateTime))
INSERT [dbo].[Rutas] ([ID], [CiudadOrigen], [CiudadDestino], [FechaSalida], [FechaLlegada]) VALUES (N'7e915f9f-089b-412c-bb64-562ff2c41849', N'Yucatan', N'Monterrey', CAST(N'2018-10-27T00:16:40.000' AS DateTime), CAST(N'2018-10-28T00:09:00.000' AS DateTime))
INSERT [dbo].[Rutas] ([ID], [CiudadOrigen], [CiudadDestino], [FechaSalida], [FechaLlegada]) VALUES (N'8a99a04c-bb46-49a1-806e-5d364fc8afb9', N'Mazatlan', N'Toluca', CAST(N'2018-07-16T00:14:05.000' AS DateTime), CAST(N'2018-07-16T00:17:45.000' AS DateTime))
INSERT [dbo].[Venta] ([ID], [PrecioBoleto], [idCliente], [BoletosVendidos]) VALUES (N'baea5dca-68a6-46d6-bdce-2361aba4fd1c', 80.0000, N'0f637ed5-c9c1-4aa8-b60b-72aa765408e8', 1)
INSERT [dbo].[Venta] ([ID], [PrecioBoleto], [idCliente], [BoletosVendidos]) VALUES (N'fd839823-f5d2-4a2c-b17e-251ca1c7991b', 50.0000, N'81c371c0-114a-412d-b057-6021a81b46c5', 3)
INSERT [dbo].[Venta] ([ID], [PrecioBoleto], [idCliente], [BoletosVendidos]) VALUES (N'f281c26a-9861-480f-82e9-aaf0de5d43cf', 60.0000, N'8c7f090f-6b86-4259-aa7a-53e21ea75f1e', 1)
/****** Object:  Index [ApellidoP]    Script Date: 04/04/2018 10:09:38 p. m. ******/
CREATE NONCLUSTERED INDEX [ApellidoP] ON [dbo].[Persona]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ApellidoS]    Script Date: 04/04/2018 10:09:38 p. m. ******/
CREATE NONCLUSTERED INDEX [ApellidoS] ON [dbo].[Persona]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Camion]  WITH CHECK ADD  CONSTRAINT [FK_Camion_Empleado1] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleado] ([ID])
GO
ALTER TABLE [dbo].[Camion] CHECK CONSTRAINT [FK_Camion_Empleado1]
GO
ALTER TABLE [dbo].[Camion]  WITH CHECK ADD  CONSTRAINT [FK_Camion_Rutas] FOREIGN KEY([idRutas])
REFERENCES [dbo].[Rutas] ([ID])
GO
ALTER TABLE [dbo].[Camion] CHECK CONSTRAINT [FK_Camion_Rutas]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Credencial] FOREIGN KEY([idCredencial])
REFERENCES [dbo].[Credencial] ([ID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Credencial]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Persona1] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([ID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Persona1]
GO
ALTER TABLE [dbo].[Credencial]  WITH CHECK ADD  CONSTRAINT [FK_Credencial_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([ID])
GO
ALTER TABLE [dbo].[Credencial] CHECK CONSTRAINT [FK_Credencial_Persona]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Persona1] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([ID])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Persona1]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([ID])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
USE [master]
GO
